header{
	font-family:courier;
}

.first {
	background-color:#0066FF;
}

.second{
	background-color:#CCFFFF;
}
#Transportation{
	background-color:#CCFFFF;
}

.comments{
	background-color:#0066FF;
}

.elements{
	background-color: yellow;
}